<% content_for :sidebar do %>
 <%= link_to "Create a new blog",  new_member_conversatio_blog_url, {:class => "add", :title => "Create a new blog"} %>
<% end %>

<h2><span>Your blogs</span></h2>

<table class="tableB">
  <thead>
      <tr>
      <th scope="col">Title</th>
      <th scope="col">Posts</th>
      <th scope="col">Created at</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4" class="info_results">
        <span class="info_items"><%= page_entries_info @blogs, :entry_name => 'blog' %></span>
        <span class="pages_navigation right">
          <%= will_paginate @blogs, :container => false %>
        </span>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% for blog in @blogs %>
    <tr<%= cycle(' class="pair"', '') -%>>
      <td><%= link_to blog.title, edit_member_conversatio_blog_path(blog) %></td>
      <td><%= link_to "##{blog.posts.size}", member_conversatio_blog_posts_path(blog) %></td>
      <td><%= blog.created_at %></td>
      <td><%= link_to "Add post",  new_member_conversatio_blog_post_url(blog), {:class => "add", :title => "Create a new post on this blog"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>