<h2><span><%= I18n.t('tog_conversatio.views.member.blogs.index.title') %></span></h2>
<p><%= link_to I18n.t('tog_conversatio.views.member.blogs.index.create_your_blog'), new_member_conversatio_blog_path, :class => 'button add' %></p> 
<table class="tableB">
  <thead>
      <tr>
      <th scope="col"><%= I18n.t('tog_conversatio.views.member.blogs.index.blog_title') %></th>
      <th scope="col"><%= I18n.t('tog_conversatio.views.member.blogs.index.blog_posts') %></th>
      <th scope="col"><%= I18n.t('tog_conversatio.views.member.blogs.index.blog_created_at') %></th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4" class="info_results">
        <span class="info_items"><%= page_entries_info @blogs, :entry_name =>  I18n.t('tog_conversatio.views.member.blogs.index.blog') %></span>
        <span class="pages_navigation right">
          <%= will_paginate @blogs, :container => false %>
        </span>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% for blog in @blogs %>
    <tr<%= cycle(' class="pair"', '') -%>>
      <td><%= link_to blog.title, edit_member_conversatio_blog_path(blog) %></td>
      <td><%= link_to "##{blog.posts.size}", member_conversatio_blog_posts_path(blog) %></td>
      <td><%= blog.creation_date %></td>
      <td>
        <%= link_to I18n.t('tog_conversatio.views.member.blogs.index.add_post'),  new_member_conversatio_blog_post_url(blog), {:class => "add", :title => I18n.t('tog_conversatio.views.member.blogs.index.add_post_title') } %>
        <%= link_to(I18n.t('tog_conversatio.views.member.blogs.index.manage_editors'),  member_conversatio_blog_bloggerships_url(blog), {:class => "add", :title =>  I18n.t('tog_conversatio.views.member.blogs.index.manage_editors_title') }) if current_user == blog.author %> 
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <%= render :partial => 'member/conversatio/blogs/blogs' %>
<% end %>
