<% content_for :sidebar do %>
	<%= render :partial => '/conversatio/blogs/tag_cloud_blogs' %>
<% end %>

<%
#locals
blog ||= @blog
%>
<%= error_messages_for :blog %>
<% form_for :blog, :url => member_conversatio_blogs_path, :html => {:id => "settings", :method => "post"} do |f| -%>
    <h2><span>Create blog</span></h2>

<p><label for="title">Blog title</label><br/><%= f.text_field :title %></p>

<p><label for="description">Blog description</label><br/><%= f.text_area :description %></p>


<p><%= submit_tag 'Create blog', :class => 'button' %></p>
<% end -%>