<div class="titleB"><%= I18n.t('tog_conversatio.views.member.posts.edit.update_post_in_blog', :blog_title => @blog.title)%></div>

<%= error_messages_for :post %>
<% form_for :post, :url => member_conversatio_blog_post_path(@blog, @post), :html => {:method => "put"} do |f| -%>

  <%= render :partial => 'form', :locals => {:f => f}%>

  <div class="actions">
    <%= submit_tag I18n.t('tog_conversatio.views.member.posts.edit.update_post'), {:class => "button mainaction", :accesskey => "s"} %>
  </div>
<% end -%>


<% content_for :sidebar do %>
  <%= render :partial => 'member/conversatio/blogs/manage', :locals => {:blog => @blog} %>
  <br/>  
  <%= render :partial => 'conversatio/blogs/tag_cloud_single_blog', :locals => { :blog => @blog } %>
<% end %>
