<%= error_messages_for :post %>
<% form_for :post, :url => member_conversatio_blog_posts_path(@blog), :html => {:id => "entry", :method => "post"} do |f| -%>
  <h2>Create post in <%= @blog.title %></h2>

  <fieldset>
    <fieldset>
      <fieldset>
        <legend>Metadata</legend>
        <label>Tags (separated with ,)<%= f.text_field :tag_list, {:size => nil} -%></label>
        <label>
          <%= "Status"[:status] %>
          <%= select_tag "state", options_for_select(Conversatio::Post.states, :draft) %>
        </label>
      </fieldset>
    </fieldset>   
      
    <label>Title <%= f.text_field :title, {:size => nil} %></label>
    <label>Body <%= f.text_area :body, {:size => nil} %></label>

    <%= submit_tag 'Create post', {:accesskey => "s"} %>

  <fieldset>
<% end -%>
