<h2>Comments: <%= @post.title %></h2>
<table>
  <tr>
    <th>Author</th>
    <th>Comment</th>
    <th>Created at</th>
    <th>&nbsp;</th>
  </tr>
  <% for comment in @comments %>
  <tr<%= cycle('',' class="even"') -%>>
    <td><%= comment.user.login %></td>
    <td><%= comment.comment %></td>
    <td><%= comment.created_at %></td>
    <td><%= link_to "Remove", comment_remove_path(comment), {:confirm => "¿Quieres eliminar este comentario?"} -%></td>
  </tr>
  <% end %>
</table>