<div class="portlet portletH" id="portlet_groups">
    <h2><span><%= I18n.t('tog_conversatio.views.blogs.index.title') %></span></h2>
    <p><%= link_to I18n.t('tog_conversatio.views.blogs.index.create_blog'), new_member_conversatio_blog_path, :class => 'button add' %></p> 
    <br/>   
    <div class="portlet_content">
        <ul>
          <% if @blogs.empty? %>
            <li class="clearfix"><%= I18n.t('tog_conversatio.views.blogs.index.not_found') %></li>
          <% else %>          
            <% @blogs.each do |blog| %>
            <li class="clearfix">
                <div class="image">
                  <%=link_to icon_for_profile(blog.author.profile, 'small'), profile_path(blog.author.profile), :title => blog.author.profile.full_name %>
                </div> 
                <div class="title"><%= link_to "#{sanitize textilize(blog.title)}", conversatio_blog_path(blog), :title => "#{sanitize(blog.title)}" %></div>
                <div class="text">
                  <%= I18n.t('tog_conversatio.views.blogs.index.created_by') %><%= link_to blog.author.profile.full_name, profile_url(blog.author.profile) %>
                  <br/>
                  <%= blog.description %>
                </div>
                <div class="members"><strong><%=blog.posts.published.size %> <%= I18n.t('tog_conversatio.views.blogs.index.posts') %></strong></div>
            </li>          
            <%end%> 
          <%end%>         
        </ul>
    </div>    
</div>


<%= will_paginate @blogs %>

<% content_for :sidebar do %>

  <%= render :partial => 'tag_cloud_blogs' %>

  <%= render :partial => 'member/conversatio/blogs/blogs' %>
  
<% end %>
