<% include_autodiscovery(:atom, conversatio_blog_url(@blog, :format => :atom), :title => @blog.title) %>

<h2><span><%= @blog.title -%></span> <%=link_to image_tag('/tog_core/images/ico/rss.gif', :alt => 'sindicate'), conversatio_blog_url(@blog, :format => :atom), :class => 'rss'%>
</h2>

<div class="detail detail1">
    <div class="text"><%= sanitize textilize(@blog.description) %></div>
</div> <!-- /.detail1 -->

<div class="portlet portletB">
    <h2><span><%= I18n.t('tog_conversatio.views.blogs.show.last_posts') %></span></h2>

    <div class="portlet_content">
        <ul>
          <% if @posts.empty? %>
            <li class="clearfix"><%= I18n.t('tog_conversatio.views.blogs.show.posts_not_found') %>
          <% else %>
              <% @posts.each do |post| %>
                <%= render :partial => '/conversatio/posts/list_detail', :locals => { :blog => @blog, :post => post } %>
              <% end %>
          <% end %>
        </ul>
    </div>
</div>
<% if !@posts.empty? %>
  <div class="info_results">
      <span class="info_items">
        <%= page_entries_info @posts %>
      </span>
      <span class="pages_navigation right">
          <%= will_paginate @posts %>
      </span>
  </div>
<%end%>

<% content_for :sidebar do %>
  <%= render :partial => 'member/conversatio/blogs/manage', :locals => {:blog => @blog} %>
  <br/>  
  <%= render :partial => 'tag_cloud_single_blog', :locals => { :blog => @blog } %>
  <br/>
  <%= render :partial => 'archive' %>
<% end %>
