<div class="detail detail1">
    <!-- <div class="image"><img src="../design/garbage/foto140x140.jpg" alt="Imagen"></div> -->
    <div class="title"><%= link_to "#{sanitize textilize(post.title)}", conversatio_blog_post_path(blog, post), :title => "#{sanitize textilize(post.title)}" %></div>
    <div class="subtitle">Posted <%= time_ago_in_words post.created_at %> ago</div>
    <div class="summary"><%= render :partial => 'conversatio/posts/tags', :locals => { :post => post } %></div>
    <div class="text"><%= sanitize textilize(post.body) %></div>

    <div class="portlet portletC">
        <%= "Comments (#{post.comments.size})" %> | <%= link_to 'Add a Comment', conversatio_blog_post_path(blog, post), :title => "Leaving A Comment On #{h post.title}" %>
    </div>
</div> <!-- /.detail1 -->