<h1><%= I18n.t('tog_conversatio.views.posts.all_by_tag.title', :tag_name => @tag.name) %></h1>

<% if @posts.blank? || @posts.empty? %>
  <%= I18n.t('tog_conversatio.views.posts.all_by_tag.not_found') %>
<% else %>
  <% @posts.each do |post| %>
    <div id="post_<%= post.id %>" class="border_top">
      <h2><%= link_to "#{sanitize post.title}", conversatio_blog_post_path(post.blog, post), :title => "#{sanitize (post.title)}" %></h2>
      <div><%= I18n.t('tog_conversatio.views.posts.all_by_tag.posted_in', :time => time_ago_in_words(post.published_at)) %><%= link_to "#{sanitize (post.blog.title)}", conversatio_blog_path(post.blog), :title => "#{sanitize (post.blog.title)}"%></div>
      <%= render :partial => 'tags', :locals => { :post => post } %>

      <div><%= sanitize(textilize(post.body), :tags => (Tog::Plugins.settings :tog_core, 'sanitized.allowed_tags').split, :attributes => (Tog::Plugins.settings :tog_core, 'sanitized.allowed_attributes').split) %></div>
      <div id="border_top">
        <%= I18n.t('tog_conversatio.views.posts.comments.comments', :size => post.comments.size) %> | <%= link_to I18n.t('tog_conversatio.views.posts.comments.add_comment'), conversatio_blog_post_path(post.blog, post), :title => I18n.t('tog_conversatio.views.posts.comments.comment_title', :post_title => h(post.title)) %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :sidebar do %>

  <%= render :partial => 'conversatio/blogs/tag_cloud_blogs' %>

  <%= render :partial => 'member/conversatio/blogs/blogs' %>
  
<% end %>
