<h1><%= @blog.title -%></h1>

<div id="post_<%= @post.id %>" class="border_top">
  <h2><%= sanitize textilize(@post.title) %></h2>
  <div>Posted <%= time_ago_in_words @post.published_at %></div>
  <%= render :partial => 'tags', :locals => { :post => @post } %>
  <div><%= sanitize(textilize(@post.body), :tags => (Tog::Plugins.settings :tog_core, 'sanitized.allowed_tags').split, :attributes => (Tog::Plugins.settings :tog_core, 'sanitized.allowed_attributes').split) %></div>
  <br/>
  <%= render :partial => "shared/comments", :locals => { :commentable => @post } %>
</div>
