<h2><span><%= I18n.t('tog_conversatio.views.member.bloggerships.index.blog_editors', :blog => @blog.title) %></span></h2>


      <% form_for :bloggership, :url => member_conversatio_blog_bloggerships_path(@blog) do |f| %>
          <select name="bloggership[user_id]" id="bloggership_user_id" class="fieldbox">
            <option value="0">
              <%= I18n.t('tog_conversatio.views.member.bloggerships.index.select') %>
            </option>
            <optgroup label="<%= I18n.t('tog_conversatio.views.member.bloggerships.index.friends') %>">
               <%= options_from_collection_for_select(current_user.profile.friends, "user_id", "full_name") %>
            </optgroup>
            <optgroup label="<%= I18n.t('tog_conversatio.views.member.bloggerships.index.followers') %>">
               <%= options_from_collection_for_select(current_user.profile.followers, "user_id", "full_name") %>
            </optgroup>
            <optgroup label="<%= I18n.t('tog_conversatio.views.member.bloggerships.index.followings') %>">
               <%= options_from_collection_for_select(current_user.profile.followings, "user_id", "full_name") %>
            </optgroup>
         </select>
         <%= submit_tag I18n.t('tog_conversatio.views.member.bloggerships.index.add_editor'), :class => "button mainaction" %>
      <% end %>
  

<br/>

<table class="tableB">
  <thead>
      <tr>
      <th scope="col"><%= I18n.t('tog_conversatio.views.member.bloggerships.index.name') %></th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4" class="info_results">
        <span class="info_items"><%= page_entries_info @bloggerships, :entry_name => I18n.t('tog_conversatio.views.member.bloggerships.index.editors') %></span>
        <span class="pages_navigation right">
          <%= will_paginate @bloggerships, :container => false %>
        </span>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% for bloggership in @bloggerships %>
    <tr<%= cycle(' class="pair"', '') -%>>
      <td><%= bloggership.user.login %></td>
      <td>
        <% form_for :bloggership, :url => member_conversatio_blog_bloggership_path(@blog, bloggership), :html => {:method => :delete} do |f| %>
          <%= submit_tag I18n.t('tog_conversatio.views.member.bloggerships.index.remove'), :class => "button mainaction", :confirm => I18n.t('tog_conversatio.views.member.bloggerships.index.remove_confirm') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<% content_for :sidebar do %>
  <%= render :partial => 'member/conversatio/blogs/manage', :locals => {:blog => @blog} %>
  <br/>  
  <%= render :partial => 'conversatio/blogs/tag_cloud_single_blog', :locals => { :blog => @blog } %>
<% end %>
