<h2><span><%= @blog.title %> editors</span></h2>


      <% form_for :bloggership, :url => member_conversatio_blog_bloggerships_path(@blog) do |f| %>
          <select name="bloggership[user_id]" id="bloggership_user_id" class="fieldbox">
            <option value="0">
               Select...
            </option>
            <optgroup label="Friends">
               <%= options_from_collection_for_select(current_user.profile.friends, "user_id", "full_name") %>
            </optgroup>
            <optgroup label="Followers">
               <%= options_from_collection_for_select(current_user.profile.followers, "user_id", "full_name") %>
            </optgroup>
            <optgroup label="Followings">
               <%= options_from_collection_for_select(current_user.profile.followings, "user_id", "full_name") %>
            </optgroup>
         </select>
         <%= submit_tag 'Add editor', :class => "button mainaction" %>
      <% end %>
  

<br/>

<table class="tableB">
  <thead>
      <tr>
      <th scope="col">Name</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4" class="info_results">
        <span class="info_items"><%= page_entries_info @bloggerships, :entry_name => 'Editors' %></span>
        <span class="pages_navigation right">
          <%= will_paginate @bloggerships, :container => false %>
        </span>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% for bloggership in @bloggerships %>
    <tr<%= cycle(' class="pair"', '') -%>>
      <td><%= bloggership.user.login %></td>
      <td>
        <% form_for :bloggership, :url => member_conversatio_blog_bloggership_path(@blog, bloggership), :html => {:method => :delete} do |f| %>
          <%= submit_tag 'Remove', :class => "button mainaction", :confirm => 'Are you sure you want to remove this editor?' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<% content_for :sidebar do %>
  <%= render :partial => 'member/conversatio/blogs/manage', :locals => {:blog => @blog} %>
  <br/>  
  <%= render :partial => 'conversatio/blogs/tag_cloud_single_blog', :locals => { :blog => @blog } %>
<% end %>